#high-score {
    font-size: 18px;
  
}

#highs {
    background-color: palegoldenrod;
    padding: 10px;
    font-size: 18px;

}

#time-remaining {
    font-size: 24px;
    float: right;
    padding: 30px;
    background-color: lightblue;
}

#box {
    
    background-color: lightyellow;
    height: 250px;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 100%;

}

.buttons {
    background-color: red;
    padding: 20px;
}

#test {
    width: 100%;
    padding-top: 50px;
}

#initials {
    width: 30px;
}
