#high-score {
    font-size: 18px;
}

#time-remaining {
    font-size: 24px;
    float: right;
    padding: 30px;
}

#box {
    
    background-color: grey;
    height: 250px;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    width: 100%;

}

.buttons {
    background-color: red;
    padding: 20px;
}

#test {
    width: 100%;
    padding-top: 50px;
}

#initials {
    width: 30px;
}
